// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body > footer {
  text-align: center;
}

#content {
  border-left: 1px solid #ccc;
  div  {
    border-right: 1px solid #ccc;
  }
}
